@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    outline: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none;
    color: steelblue;
    font-weight: bold;
    font-size: 1.5em;
}
::placeholder{
    font-weight: 100;
}
.container{
    max-width: 800px;
    width: 100%;
    margin: auto;

    h1{
        text-align:center;
        font-size: 4em;
        font-weight: 100;
    }
    input{
        letter-spacing: 1px ;
        margin-block: 2em 1em;
        font-size: 1.2em;
        font-weight: bold;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba($color: grey, $alpha: .3);
        padding: 0.5em 1em;
    }
    #names{
        // margin-top: 1em;
        border: 1px solid rgba($color: grey, $alpha: .3);

        li{
            border: 1px solid rgba($color: grey, $alpha: .3);
            padding: 1em;
        }


        h5{
            font-size: 2.5em;
        }
    }
}