@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rebeccapurple;
    color: white;
    height: 100vh;
    font-size: 3em;
}